.deleteItem{
    z-index: 10;
    color: red;
}

.list .item-checkbox .title{
    padding: 16px 0;
    display: block;
}

.item-checkbox .checkbox {
    right: auto;
}

.item.checked .title{
    color: gray;
    text-decoration: line-through;
}

.button-full{
    margin-top: 250px;
}

